

<form class="search-row" (ngSubmit)="applyFilters()">
    <div class="search-box">
      <i class="pi pi-search"></i>
      <input pInputText [(ngModel)]="tag" name="tag" type="text" placeholder="Search by Ear Tag" />
    </div>
    <select [(ngModel)]="status" name="status" class="status-dd" (change)="applyFilters()">
      <option value="">All Status</option>
      <option *ngFor="let option of statusOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <input pInputText [(ngModel)]="pen" name="pen" type="text" placeholder="Pen" class="pen-input" />
    <button pButton type="submit" class="filter-btn p-button-success"><span class="pi pi-search"></span>Filter</button>
  </form>

  
